.nav {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.cart {
    display: flex;
    justify-content: flex-end;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.card > img {
    border: 1px solid black;
    height: 200px;
    width: 300px;
}

.card > .control {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.card > .control > .count {
    border: 1px solid grey;
    margin-left: auto;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > .control > .total {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > .control > .btns {
    display: flex;
    flex-direction: column;
}